* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', Helvetica, Arial, sans-serif;
}

:root {
    --white: rgb(250, 250, 250);
    --grey: rgb(237, 235, 230);
    --green: rgb(144, 173, 144);
    --dark-green: rgb(125, 152, 125);
    --scale-rate: 1.1;
    --font: rgb(41, 36, 36);
    --scarlet: rgb(231, 108, 108);
    --dark-scarlet: rgb(192, 83, 83);
    --dark-grey: rgb(192, 192, 192);
    --med-grey: rgb(226, 226, 226);
}

body {
    background: var(--grey);
    color: var(--font);
}

.header {
    display: flex;
    height: 80px;
    background: var(--white);
    align-items: center;
}

.header span {
    padding: 0px 10px 0px 15px;
}

.book-form-container {
    background: var(--white);
    margin: 20px;
    border-radius: 10px;
    padding: 40px 60px;
}

#add-book-form {
    display: grid;
}

.text-input {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    justify-content: start;
    gap: 60px;
}

.text-input div {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    transform: scaleY(.9);
}

.text-input input {
    border: 2.3px solid var(--green);
    border-radius: 5px;
    font-size: 1rem;
}

.text-input label {
    font-size: 1.1rem;
}

#add-book-form input {
    padding: 10px;
    margin: 10px 0px;
}

.error-duplicate {
    color: var(--scarlet);
    font-size: .9rem;
}

label[for='read'] {
    font-size: .8rem;
    font-weight: 200;
    padding-left: 8px;
}

.book-form-btns {
    display: flex;
    justify-content: flex-end;
    
}

.btn {
    width: 130px;
    padding: 11px 0px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.add-btn {
    background: var(--green);
    color: var(--white);
}

.add-btn:hover {
    background: var(--dark-green);
}

.cancel-btn {
    background: none;
    border: 2.3px solid var(--green);
    color: var(--green);
    margin-right: 20px;
}

.cancel-btn:hover {
    border: 2.3px solid var(--dark-green);
    color: var(--dark-green);
    background: var(--grey);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 450px;
    justify-content: center;
    gap: 50px;
    padding: 10px 50px;
}

.book-card {
    background: var(--green);
    width: 280px;
    border-radius: 9px;
    justify-self: center;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, .9) 0px -220px 200px -98px inset;
    cursor: pointer;
}

.book-card:hover {
    box-shadow: none;
    transition: box-shadow .2s ease-out;
}

.book-card-info {
    line-height: 1.3;
    padding: 15px;
}

.book-card .author {
    font-weight: 500;
    font-size: .9rem;
    padding-bottom: 2px;
}

.book-card .pages {
    font-weight: 200;
    font-size: .8rem;
}

.book-card-focus-container {
    display: flex;
    flex-direction: column;
}

.back-btn-div {
    padding: 30px;
}

.back-btn {
    background: none;
    border: 2px solid var(--font);
    padding: 12px 12px 7px 12px;
    border-radius: 50%;
    color: var(--font);
}

.back-btn:hover {
    border: 2px solid var(--dark-green);
    color: var(--dark-green)
}

.book-card-copy-div {
    display: flex;
    justify-content: center;
}

.book-card-focus {
    height: calc(500px * var(--scale-rate));
    width: calc(325px * var(--scale-rate));
    box-shadow: none;
    color: var(--font);
}

.book-card-info-focus {
    padding: 0px 0px 10px 0px;
}

.book-card-info-focus .title {
    font-size: 2.5rem;
}

.book-card-info-focus .author {
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: -4px;
}

.book-card-info-focus .pages {
    font-size: .8rem;
    font-weight: 200;
}

.book-card-copy-info-btns {
    align-self: center;
    padding: 25px;
}

.book-card-copy-btns {
    display: flex;
    gap: 20px;
}

.book-card-copy-btns button {
    font-size: .8rem;
}

.read-btn {
    background: none;
    border: 2px solid var(--dark-grey);
    cursor: pointer;
    color: var(--dark-grey);
}

.read-btn:hover {
    background: var(--med-grey);
}

.read {
    background: var(--green);
    border: 2px solid var(--green);
    color: var(--white);
}

.read:hover {
    background: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.edit-btn {
    background: none;
    border: 2px solid var(--font);
    color: var(--font);
}

.edit-btn:hover {
    background: var(--med-grey);
}

.del-btn {
    background: var(--scarlet);
    color: var(--white);
}

.del-btn:hover {
    background: var(--dark-scarlet);
}

.inactive {
    display: none;
}

.background-inactive {
    background: none;
    padding: 20px;
}